.zxcvbn-indicator {
	padding: 1px;
	border: 1px solid black;
}

.zxcvbn-indicator-undefinedWidth {
	width: 10em;
}

.zxcvbn-indicator span {
	width: 20%;
	display: inline-block;
}

.zxcvbn-indicator-0 span {
	background-color: #f00;
}

.zxcvbn-indicator-1 span {
	background-color: #f90;
}

.zxcvbn-indicator-2 span {
	background-color: #ee0;
}

.zxcvbn-indicator-3 span {
	background-color: #6c0;
}

.zxcvbn-indicator-4 span {
	background-color: #090;
}